[Unit]
Description={{ jaeger_client_service_name }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ jaeger_client_user_name }}
Group={{ jaeger_client_group_name }}
Restart=on-failure
Type=simple
ExecStart={{ jaeger_client_exec_command }}

[Install]
WantedBy=multi-user.target